p {
    text-align: justify;
}

.md-grid {
  max-width: 90%;
}

table.simple th,td {
    padding-left: 15px;
    padding-right:15px;
}

table.simple td,th {
    border-bottom: 1px solid lightgray;
}

th.rb {
    border-right: 2px solid gray;
}
th.header {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

}
